{%- comment -%}
  Include as: {%- include head.html -%}
  Depends on: site.ga_tracking, site.ga_tracking_anonymize_ip,
    site.search_enabled, site.static_files, site.favicon_ico.
  Results in: HTML for the head element.
  Includes:
    css/activation.scss.liquid, head_custom.html.
  Overwrites:
    ga_tracking_ids, ga_property, file, favicon.
  Should not be cached, because included files depend on page.
{%- endcomment -%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-head-nav.css' | relative_url }}" id="jtd-head-nav-stylesheet">

  <style id="jtd-nav-activation">
  {% include css/activation.scss.liquid %}
  </style>

  {% if site.ga_tracking != nil %}
    {% assign ga_tracking_ids = site.ga_tracking | split: "," %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      {% for ga_property in ga_tracking_ids %}
        gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
      {% endfor %}
    </script>
  {% endif %}

  {% if site.search_enabled != false %}
    <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/vendor/lunr.stemmer.support.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/vendor/lunr.ru.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/vendor/lunr.multi.js' | relative_url }}"></script>
  {% endif %}

  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/dice-generator.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/alchemy-craft.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/creatures-card.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/damage-core.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/damage-calculator.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/crafting-craft.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/vadhidek-crafting.js' | relative_url }}"></script>


  <script>
  window.diceTables = {
    {% for table_file in site.data.tables %}
      "{{ table_file[0] }}": {
        name: "{{ table_file[1].name }}",
        table: {
          {% for entry in table_file[1].table %}
            "{{ entry[0] }}": "{{ entry[1] }}"{% unless forloop.last %},{% endunless %}
          {% endfor %}
        }
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include_cached favicon.html %}

  {% seo %}

  {% include head_custom.html %}

</head>
